<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <form th:action="@{/post/new}" th:object="${postForm}" method="post">
        <div class="form-group">
            <label th:for="categoryId">카테고리</label>
            <select class="form-select" aria-label="Default select example" th:field="*{categoryId}">
                <option th:each="category : ${categoryList}" th:value="${category.id}"
                        th:text="${category.getName()}"></option>
            </select>
        </div>

        <div class="form-group">
            <label th:for="title">제목</label>
            <input type="text" th:field="*{title}" class="form-control"
                   placeholder="제목을 입력하세요">
        </div>

        <div class="form-group">
            <label th:for="content">내용</label>
            <div id="editor">
                <textarea style="display: none" th:field="*{content}"></textarea>
            </div>

        </div>
        <script>
            $(function () {
                var editor = editormd("editor", {
                    width  : "100%",
                    height: "500px",
                    path: "/editormd/lib/"
                });
            });
        </script>

        <br>
        <button type="submit" class="btn btn-primary">작성</button>
        <a href=".." class="btn btn-danger">취소</a>
    </form>
    <br>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>