<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <div class="text-end" style="font-size:10px;">
        <div th:if="${#authorization.getAuthentication() != null and #authorization.expr('isAuthenticated()')}">
            <span>ADMIN</span>
            <a href="/member/logout" >로그아웃</a>
        </div>
        <div th:unless="${#authorization.getAuthentication() != null and #authorization.expr('isAuthenticated()')}">
            <span>GUEST</span>
            <a class="" href="/member/login" >로그인</a>
        </div>
        <hr>
    </div>
    <div class="text-center head">
        <a href="/">
            <h1>y2sec's Blog</h1>
        </a>
    </div>
</div>
