<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div class="row">
        <div th:replace="fragments/sideNav :: sideNav(${categoryList})"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <table class="table table-hover align-middle caption-top">
                <caption>전체글</caption>
                <thead class="table-light">
                <tr>
                    <th class="title">글 제목</th>
                    <th class="date">작성일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${postList}">
                    <td>
                        <a class="hoverlink" th:href="@{/post/{id} (id=${post.getId()})}" th:text="${post.getTitle()}"></a>
                        <span style="font-size: 6px">(<span th:text="${post.comments.size()}"></span>)</span>
                    </td>
                    <td class="date" th:text="${post.getPostDate()}"></td>
                </tr>
                </tbody>
            </table>
            <div class="row g-3">
                <div class="col-7">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            <li class="page-item disabled" th:if="${pageNumber} == 1">
                                <a class="page-link" th:href="@{/{pageNum} (pageNum = ${pageNumber}-1)}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" th:unless="${pageNumber} == 1">
                                <a class="page-link" th:href="@{/{pageNum} (pageNum = ${pageNumber}-1)}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <th:block th:each="pageNum : ${#numbers.sequence(1, postSize, 10)}">
                                <li class="page-item active" th:if="(${pageNum}-1)/10+1 == ${pageNumber}" aria-current="page">
                                    <a class="page-link" th:href="@{/{pageNum} (pageNum=(${pageNum}-1)/10+1)}" th:text="(${pageNum}-1)/10+1"></a>
                                </li>
                                <li class="page-item" th:unless="(${pageNum}-1)/10+1 == ${pageNumber}">
                                    <a class="page-link" th:href="@{/{pageNum} (pageNum=(${pageNum}-1)/10+1)}" th:text="(${pageNum}-1)/10+1"></a>
                                </li>
                            </th:block>
                            <li class="page-item disabled" th:if="${postSize} <= ${pageNumber} * 10">
                                <a class="page-link" th:href="@{/{pageNum} (pageNum = ${pageNumber}+1)}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item" th:unless="${postSize} <= ${pageNumber} * 10">
                                <a class="page-link" th:href="@{/{pageNum} (pageNum = ${pageNumber}+1)}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col text-end">
                    <a class="btn btn-primary" th:href="@{/post/new}" th:if="${#authorization.expr('isAuthenticated()')}">게시글 쓰기</a>
                </div>
            </div>


        </main>
        <div th:replace="fragments/footer :: footer"></div>

    </div>
</div>
</body>
</html>