<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div class="row">
        <div th:replace="fragments/sideNav :: sideNav(${categoryList})"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <table class="table table-hover align-middle caption-top">
                <caption>전체글</caption>
                <thead class="table-light">
                <tr>
                    <th class="title">글 제목</th>
                    <th class="date">작성일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${postList}">
                    <td>
                        <a class="hoverlink" th:href="@{/post/{id} (id=${post.getId()})}" th:text="${post.getTitle()}"></a>
                        <span style="font-size: 6px">(<span th:text="${post.comments.size()}"></span>)</span>
                    </td>
                    <td class="date" th:text="${post.getPostDate()}"></td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-dark" th:href="@{/post/new}">게시글 쓰기</a>

        </main>
        <div th:replace="fragments/footer :: footer"></div>

    </div>
</div>
</body>
</html>