<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <table>
        <thead>
        <tr>
            <th>카테고리명</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categoryList}">
            <td>
                <a th:href="@{/category/{id} (id=${category.getId()})}" th:text="${category.getName()}"></a>
                (<span th:text="${category.posts.size()}"></span>)
            </td>
        </tr>
        <tr>
            <td>

            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-secondary" th:href="@{/category/new}">카테고리 추가</a>

    <table class="table">
        <thead>
        <tr>
            <th>제목</th>
            <th>날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${postList}">
            <td>
                <a href="#" th:href="@{/post/{id} (id=${post.getId()})}" th:text="${post.getTitle()}"></a>
            </td>
            <td th:text="${post.getPostDate()}"></td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-dark" th:href="@{/post/new}">게시글 쓰기</a>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>